.filter
{
    margin-right: 10px;

    .filter-title
    {
        font-size: 10px;
        font-weight: 500;
        margin-left: 5px;
        color: var(--color-fg-s);
        text-transform: uppercase;
    }
}

.table-wrap
{
    height: 72vh;
    cursor: pointer;
    overflow-y: auto;
}

.detail-label
{
    color: #aaa;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}

.detail-value
{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.btn-circle-error
{
    border: 0;
    border-radius: 50%;
    color: var(--color-se-p);
    background-color: var(--color-se-s);

    &:hover
    {
        color: var(--color-bg-s);
        background-color: var(--color-se-p);
    }
}

.btn-circle-info
{
    border: 0;
    border-radius: 50%;
    color: var(--color-si-p);
    background-color: var(--color-si-s);

    &:hover
    {
        color: var(--color-bg-s);
        background-color: var(--color-si-p);
    }
}