<div class="container-fluid">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-2" style="padding: 0;">
        </div>

        <div class="col-lg-8">
            <div class="page-header">Users</div>
        </div>

        <div class="col-lg-2" style="padding: 0;">
        </div>
    </div>

    <!-- Filters -->
    <div class="row">
        <div class="col-lg-2" style="padding: 0;">
        </div>

        <div class="col-lg-8" style="padding: 0;">
            <div class="section">
                <div class="section-header">
                    <div class="section-title"><i class="bi bi-funnel-fill" style="margin-right: 5px;"></i>Filters</div>                    
                </div>

                <div class="disp-flex">
                    <button class="btn btn-secondary btn-sm btn-icon-normal" (click)="clearFilters()" title="Clear all filters" style="margin-right: 10px; margin-top: auto;">
                        <i class="bi bi-funnel"></i>
                    </button>

                    <div class="filter">
                        <div class="filter-title">Role Type</div>
                        <select class="form-select form-select-sm">
                            <option value="Associate">Associate</option>
                            <option value="Agent">Agent</option>
                            <option value="Administrator">Administrator</option>
                        </select>
                    </div>
            
                    <div class="filter">
                        <div class="filter-title">Employee Id</div>
                        <input type="text" [(ngModel)]="employeeId" class="form-control form-control-sm">
                    </div>
                    
                    <div class="filter">
                        <div class="filter-title">Employee Name</div>
                        <input type="text"  [(ngModel)]="name" class="form-control form-control-sm">
                    </div>

                    <div class="filter">
                        <div class="filter-title">Employee Email</div>
                        <input type="text" [(ngModel)]="email"  class="form-control form-control-sm">
                    </div>
            
                    <div class="filter">
                        <div class="filter-title">Date Added</div>
                        <div style="border: 1px solid #ccc; border-radius: 4px; padding: 2px; width: 200px;">
                            <app-datepicker-popup></app-datepicker-popup>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="padding: 0;">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2" style="padding: 0;">
        </div>

        <div class="col-lg-6" style="padding: 0;">
            <div class="section">
                <div class="section-header">
                    <div class="section-title"><i class="bi bi-hdd-stack-fill" style="margin-right: 5px;"></i>Users List</div>
                    <button class="btn btn-primary btn-sm" (click)="createUser()" style="margin-left: auto; margin-bottom: 10px">
                        <i class="bi bi-plus-lg" style="margin-right: 5px;"></i>
                        New User
                    </button>                 
                </div>

                <div>
                    <div class="table-responsive table-wrap">
                        <table #ticketTable class="table table-borderless table-hover" data-click-to-select="true">
                          <thead class="table-sticky">
                            <tr>
                                <th class="text-center">Id</th>
                              <th class="text-center">Name</th>
                              <th class="text-center">Email</th>
                              <th class="text-center">Total Tickets</th>
                              <th class="text-center">Open Tickets</th>
                              <th class="text-center">Closed Tickets</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of items |filter:employeeId |filter:name |filter:email " (click)="getSelectedRowData(item)">
                              <td class="text-center" style="font-size:12px; vertical-align: middle;">{{item.employeeId}}</td>
                              <td class="text-center" style="font-size:12px; vertical-align: middle;">{{item.userName}}</td>
                              <td class="text-center" style="font-size:12px; vertical-align: middle;">{{item.email | lowercase}}</td>
                              <td class="text-center" style="vertical-align: middle;">
                                 <div class="snackbar-info">
                                    <div>{{item.totalTickets}}</div>
                                 </div>
                               </td>
                               <td class="text-center" style="vertical-align: middle;">
                                  <div class="snackbar-warn">
                                      <div>{{item.openTickets}}</div>
                                  </div>
                               </td>
                               <td class="text-center" style="vertical-align: middle;">
                                  <div class="snackbar-success">
                                    <div>{{item.closedTickets}}</div>
                                  </div>
                               </td>

                               <td class="text-center" style="text-transform: uppercase; font-weight:700; font-size:11px; vertical-align: middle;">
                                <div style="display: flex;">
                                    <button (click)="editUser(item)" class="btn btn-sm btn-circle-info" style="margin-right: 5px;"><i class="bi bi-pencil-square"></i></button>
                                    <button (click)="deleteUser(item.employeeId)" class="btn btn-sm btn-circle-error" style="margin-right: 5px;"><i class="bi bi-trash-fill"></i></button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="padding: 0;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section">
                        <div class="section-header">
                            <div class="section-title"><i class="bi bi-info-square-fill" style="margin-right: 5px;"></i>User Details</div>
                        </div>
                            
                        <div>
                            <!-- Details -->
                            <div>
                                <label class="detail-label">ID:&nbsp;</label>
                                <div class="detail-value">{{selectedItem.employeeId}}</div>
                            </div>
                            <div>
                                <label class="detail-label">Name:&nbsp;</label>
                                <div class="detail-value">{{selectedItem.userName}}</div>
                            </div>
                            <div>
                                <label class="detail-label">Email:&nbsp;</label>
                                <div class="detail-value">{{selectedItem.email}}</div>
                            </div>
                            <div>
                                <label class="detail-label">Username:&nbsp;</label>
                                <div class="detail-value">{{selectedItem.userName}}</div>
                            </div>
                            <div>
                                <label class="detail-label">Created Date:&nbsp;</label>
                                <div class="detail-value">{{selectedItem.createdDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="section">
                        <div class="section-header">
                            <div class="section-title"><i class="bi bi-pie-chart-fill" style="margin-right: 5px;"></i>User Tickets Count</div>                    
                        </div>
        
                        <div>
                            <!-- Chart -->
                            <canvas id="chart1" class="chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2" style="padding: 0;">
        </div>
    </div>
</div>