.form-group
{
    margin-bottom: 10px;

    label
    {
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

// .title
// {
//     font-size: 14px;
//     font-weight: 500;
//     margin-left: 20px;
//     color: var(--color-ac-p);
//     text-transform: uppercase;
// }

.card-body
{
    padding: 20px 40px;
}

.btn-container
{
    margin-top: 30px;
}